<h3>{{cauhoi.content}}</h3>


<div>
    <a href="/answer/{{cauhoi.id}}/no"><button>Sai/Không</button></a>
    <a href="/answer/{{cauhoi.id}}/yes"><button>Đúng/Có</button></a>
</div>

<div>
    <a href="/question/{{cauhoi.id}}"><button>KQ vote</button></a>
    <a href="/"><button>Câu hỏi khác</button></a>
</div>