<h3>{{question.content}}</h3>

<div>
    <a href="/answer/{{question.id}}/no"><button>Sai/Không/Trái</button></a>
    <a href="/answer/{{question.id}}/yes"><button>Đúng/Có/Phải</button></a>
</div>

<div>
    <a href="/question/{{question.id}}"><button>kết quá đây</button></a>
    <a href="/"><button>Câu hỏi khác</button></a>
</div>