.container > div:first-child img {
    height: 150px;
    width: auto;
}

.container > div:first-child > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search input[type=submit]:active,
#search input[type=submit]:focus {
    outline: 0 none !important;
    background: #007bff !important;
    border-color: #007bff !important;
    color: #ffffff !important;
}

#result-list {
    padding: 50px 15px;
}

.result {
    margin: 35px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #464646;
    transition: all .4s ease-in-out;
}

.result:hover {
    text-decoration: none;
    box-shadow: 0 0 10px #888888;
}

.result .video_info {
    padding: 15px 25px;
}

.result .video_info button {
    background: transparent;
    border: none;
}

.result img {
    width: 320px;
    max-width: 100%;
    height: auto;
}

.result .video_info > span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto 25px;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .result {
        flex-direction: row;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid rgb(255, 0, 0);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(255, 0, 0) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}