.menu {
    background-color: #D5B0AC;
    font-weight: bold;
    text-align: center;
    margin: 20px;


}

.menu span{
    width :100px;
    line-height: 30px;
    display: inline-block;
    color: #402E2A;
    
}

span:hover{
    background-color:#9CD08F ;
    color:#FFFFFF ;
    cursor: pointer;
}



.menu_vertical span{
    display: block;
    width :100px;
    line-height: 30px;
    background-color: #D5B0AC;
    font-weight: bold;
    margin: 2px;
    color: #402E2A;
    text-align: center;
    
}

.menu_vertical span:hover{
    cursor: pointer;
    background-color:#9CD08F ;
    color:#FFFFFF ;
}